<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jalan In - Information</title>
    <link rel="stylesheet" href="../styles/informasi.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="../image/Logo.png" alt="Jalanin" />
        </div>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="#/">Information</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
      <div class="hero">
        <h1>Selamat Datang di Situs Wisata Kami</h1>
        <p>
          Temukan destinasi wisata terbaik di Indonesia dan nikmati pengalaman tak terlupakan bersama kami, kami menyediakan informasi lengkap untuk petualangan Anda.
        </p>
      </div>
    </header>
    <section class="introduction">
      <div id="destinations" class="destinations-slider">
        <!-- Tempat destinasi akan ditambahkan oleh JavaScript -->
      </div>
    </section>
    <!-- <section class="hot-right-now">
      <h2>Hot Right Now</h2>
      <div class="cards">
        <div class="card">
          <img src="../image/hotel1.jpg" alt="Cave Tubing Gua Pindul" />
          <div class="card-body">
            <h3>Cave Tubing Gua Pindul</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Eget nam non est donec et
              id amet.
            </p>
            <span class="tag">Adventure</span>
            <span class="tag">Nature</span>
            <div class="rating">Rating: <span>4.8</span></div>
          </div>
        </div>
        <div class="card">
          <img src="../image/hotel1.jpg" alt="Candi Prambanan" />
          <div class="card-body">
            <h3>Candi Prambanan</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Eget nam non est donec et
              id amet.
            </p>
            <span class="tag">Religious</span>
            <span class="tag">Historical</span>
            <div class="rating">Rating: <span>5.0</span></div>
          </div>
        </div>
        <div class="card">
          <img src="../image/hotel1.jpg" alt="Hutan Pinus Mangunan" />
          <div class="card-body">
            <h3>Hutan Pinus Mangunan</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Eget nam non est donec et
              id amet.
            </p>
            <span class="tag">Nature</span>
            <div class="rating">Rating: <span>4.8</span></div>
          </div>
        </div>
        <div class="card">
          <img src="../image/hotel1.jpg" alt="Keraton Yogyakarta" />
          <div class="card-body">
            <h3>Keraton Yogyakarta</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Eget nam non est donec et
              id amet.
            </p>
            <span class="tag">Historical</span>
            <span class="tag">Traditional</span>
            <div class="rating">Rating: <span>4.8</span></div>
          </div>
        </div>
        <div class="card">
          <img src="../image/hotel1.jpg" alt="Monumen Yogya Kembali" />
          <div class="card-body">
            <h3>Monumen Yogya Kembali</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Eget nam non est donec et
              id amet.
            </p>
            <span class="tag">Historical</span>
            <span class="tag">Traditional</span>
            <div class="rating">Rating: <span>5.0</span></div>
          </div>
        </div>
        <div class="card">
          <img src="../image/hotel1.jpg" alt="Museum Benteng Vredeburg" />
          <div class="card-body">
            <h3>Museum Benteng Vredeburg</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Eget nam non est donec et
              id amet.
            </p>
            <span class="tag">Historical</span>
            <span class="tag">Traditional</span>
            <div class="rating">Rating: <span>4.8</span></div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <span>&laquo;</span>
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>&raquo;</span>
      </div>
    </section>
    <section class="popular-destinations">
      <h2>Pengen Kemana Liburanmu?</h2>
      <div class="destinations">
        <div class="destination">Yogyakarta</div>
        <div class="destination">Maluku</div>
        <div class="destination">Papua</div>
        <div class="destination">Bali</div>
        <div class="destination">Magelang</div>
        <div class="destination">Jakarta</div>
      </div>
      <button class="show-more">Show More</button>
    </section> -->
    <footer>
      <div class="footer-content">
        <div class="footer-left">
          <h2>Jalan In</h2>
          <p>
            Jalanin adalah website yang menampilkan informasi destinasi wisata
            pilihan terbaik di Indonesia
          </p>
        </div>
        <div class="footer-links">
          <h2>Laman</h2>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="informasi.html">Information</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <h2>Social Media</h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                ><img src="../image/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                ><img src="../image/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                ><img src="../image/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
          </ul>
          <form class="subscribe-form">
            <input type="email" placeholder="Enter email address" />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2024 Jalan In All Rights reserved</p>
      </div>
    </footer>
    <!-- <script type="module" src="./data.js"></script> -->
    <script src="../scripts/informasi.js"></script>
  </body>
</html>
